:root{
    --bg:#fff;
    --text: #F85E9F;
    --btn: #5D50C6;
}
body{
    overflow-x: hidden;
}
main{
    max-width: 400px;
    margin: 0 auto;
}

.img img{
    width: 380px;
    margin-top: 20px;
}
.buy{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buy img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.buy p{
    color: var(--text);
}
span{
    color: var(--text);
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
}
.about{
    text-align: center;
    color: grey;
}
.btn button{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: none;
    color: var(--bg);
    background-color: var(--btn);
}
p{
    margin-top: 20px;
}
.icon img{
    width: 300px;
}